*{
  margin: 0;
}
.slideshow{
  width: 30vh;
  height: 100vh;
  margin-left: 350px;
  margin-top: 140px;
  display: flex;
  animation: bg-Slide 10s linear infinite;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@keyframes bg-Slide{
  0%{
    background-image: url("fone1.jpg" );
  }
  60%{
    background-image: url("fone6.jpg");
  }
  100%{
    background-image: url("fone7.jpg");
  }
}
.oferta{
  text-align: center;
  border: solid;
  height: 340px;
  width: 230px;
  left: 225px;
  top: 121px;
  border-radius: 18%;
  margin-left: 900px;
  margin-top: -800px;
}
.cor1{
  text-align: center;
  border-radius: 50%;
}
.cor2{
  text-align: center;
  border-radius: 50%;
}
.cor3{
  text-align: center;
  border-radius: 50%;
}