* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: var(--bg-color) #051b36;
    --tex-color: #fff;
    --main-color: #edb24c;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;
}


body {
    background-color: #1d2631;
    color: var(--tex-color);
}



header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    

}


.logo {
    display: flex;
    align-items: center;
    color: var(--tex-color);
    font-size: 35px;
    font-weight: bold;
}

.logo i {
    color: var(--main-color);
    font-size: 32px;
    margin-right: 5px;
}

.navegação {
    display: flex;
}

.navegação a {
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 30px;
    transition: a .55s ease;
}

.navegação a:hover {
    color: var(--main-color);

}


.header-icons {
    display: flex;
    align-items: center;
}

#menu {
    font-size: 35px;
    color: var(--tex-color);
    z-index: 10001;
    cursor: pointer;
}

.header-icons i {
    margin-right: 25px;
    font-size: 28px;
}
.search-div{
    position: relative;
    align-items: center;
    background: #1d2631;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.search-text{
    color: white;
    background:none;
    border: 0;
    outline: 0;
    width: 0;
    padding: 0;
    transition: 0.6s;
}

.bx bx-search{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.search-div:hover > .search-text{
    width: 100px;

}