* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: var(--bg-color) #051b36;
    --tex-color: #fff;
    --main-color: #edb24c;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;
}


body {
    background-color: #1d2631;
    color: var(--tex-color);
}



header {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    

}


.logo {
    display: flex;
    align-items: center;
    color: var(--tex-color);
    font-size: 35px;
    font-weight: bold;
}

.logo i {
    color: var(--main-color);
    font-size: 32px;
    margin-right: 5px;
}

.navegação {
    display: flex;
}

.navegação a {
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 30px;
    transition: a .55s ease;
}

.navegação a:hover {
    color: var(--main-color);

}


.header-icons {
    display: flex;
    align-items: center;
}

#menu {
    font-size: 35px;
    color: var(--tex-color);
    z-index: 10001;
    cursor: pointer;
}

.header-icons i {
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
}

.header-icons i:hover {
    transform: translateY(-5px);
    color: var(--main-color);
}


.section {

    padding: 0 15%;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.home-text h1 {
    font-size: var(--h1-font);
    line-height: 1.2;
    margin-bottom: 2px;
}

.home-text h5 {
    color: #ffffff99;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;
}

.home-text h3 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 35px;
}
.search-div{
    position: relative;
    align-items: center;
    background: #1d2631;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.search-text{
    color: white;
    background:none;
    border: 0;
    outline: 0;
    width: 0;
    padding: 0;
    transition: 0.6s;
}

.bx bx-search{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.search-div:hover > .search-text{
    width: 100px;

}
.btn {
    color: var(--main-color)
}
.slideshow{
    margin-left: 250px;
    margin-top: -600px;
    width: 40vh;
    height: 110vh;
    display: flex;
    animation: bg-Slide 10s linear infinite;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
@keyframes bg-Slide{
    0%{
      background-image: url("fone01.png" );
    }
    60%{
      background-image: url("fone02.png");
    }
    100%{
      background-image: url("fone03.png");
    }
}
.bt1{
    background-color: #1d2631; 
    border: none; 
    color: white;
}
.bt2{
    background-color: #1d2631; 
    border: none; 
    color: white;
}
.bt3{
    background-color: #1d2631; 
    border: none; 
    color: white;
}

.cor1{
    text-align: center;
    border-radius: 50%;
  }
  .cor2{
    text-align: center;
    border-radius: 50%;
  }
  .cor3{
    text-align: center;
    border-radius: 50%;
  }